
<div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 class="text-center">All The Tweets In The Universe</h1>


        <%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-success btn-lg' %>
        <br><br>
        <table class='table'>
          <thead class='thead-dark'>
            <tr>
              <th>Tweet</th>


            </tr>
          </thead>

          <tbody>
            <% @tweets.each do |tweet| %>
              <% tweetuser = tweet.user_id %>
              <tr class="card">
                <div class="card-text">
                  <td><%= link_to tweet.user.try(:username), profile_path(tweet.user) %> <%= time_ago_in_words(tweet.created_at) %> ago:<%= sanitize(tweet.message) %></td>
                  <!-- ^ would like to have a link to users here ^ -->
                  <td><%= link_to fa_icon('eye'), tweet %>
                    <% if current_user.id == tweet.user_id %>
                      <%= link_to fa_icon('pencil'), edit_tweet_path(tweet) %>
                      <%= link_to fa_icon('trash-o'), tweet, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                    <% end %>
                </div>
              </tr>
            <% end %>

          </tbody>
        </table>


      </div>
    </div>
</div>