<div class="container text-center">
  <h1>Your Tweet:</h1>

  <p>
    <strong>Message: </strong> <%= sanitize(@tweet.message) %>
  </p>

  <p>
    <strong>User: </strong> <%= @tweet.user.try(:username) if @tweet.user %>
  </p>

  <%= render 'shared/likes' %>
  <br><br>

  <% if current_user.id == @tweet.user_id %> %>
  <%= link_to 'Edit', edit_tweet_path(@tweet), class: 'btn btn-warning' %>
  <% end %>
  <%= link_to 'Show All', tweets_path, class: 'btn btn-info' %>
</div>