<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Garbage Twitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/tweets">All Your Tweets <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/profiles">All Profiles <span class="sr-only">(current)</span></a>
      </li>


      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="profiles">Profiles</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 -->

    <!-- <form class="form-inline my-2 my-lg-0"> -->
      <%= form_tag(tweets_path, method: :get, role: 'search', class:"form-inline my-2 my-lg-0") do %>

        <%= text_field_tag(:search, params[:search], {class: "form-control mr-sm-2", type: "search", placeholder: "Search", 'aria-label': "Search"}) %>
        <%= submit_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0') %>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <% end %>
    <!-- </form> -->
    </ul>
    <ul class="nav">
      <% if user_signed_in? %>
        <button class="btn btn-info my-2 my-sm-0 nav-link" type="submit"><%= link_to 'Account', edit_user_registration_path %></button>
        <li></li>
        <button class="btn btn-danger my-2 my-sm-0 nav-link" type="submit"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button>
        <li></li>
        <!-- ^^^ Need to call the method here, as it's not a 'Get' method like we have been using ^^^ -->
      <% else %>
        <button class="btn btn-info my-2 my-sm-0" type="submit"><%= link_to 'Sign In', new_user_session_path %></button>
        <button class="btn btn-success my-2 my-sm-0" type="submit"><%= link_to 'Register', new_user_registration_path %></button>

      <% end %>
    </ul>
  </div>
</nav>